$green: #72cb5a;
$blue: #8eb9dc;
$grey: #7c7c7c;
$grey2: rgb(158, 158, 158);
$grey-light: #e6e6e6;
$grey-light2: #f7f6f5;
$grey-light3: #efefef;

$cart-width: 400px;

$primary-font: "Roboto Condensed", sans-serif;
