@import "app/variables";
@import "app/mixins";
@import "app/header";
@import "app/buttons";
@import "app/items";
@import "app/cart";
@import "app/alert";
@import "app/responsive";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  font-family: $primary-font;
  color: $grey;
}

.main-layout {
  display: flex;
  padding: 0 40px;
}
